/* New Entry Form */
.new-entry-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    margin: auto;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .form-input, .form-textarea {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    width: 100%;
  }
  
  .form-input:focus, .form-textarea:focus {
    outline: none;
    border-color: #4b3b2f; /* Dark brown focus */
  }
  
  .form-textarea {
    min-height: 150px;
    resize: vertical;
  }
  
  .submit-button {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 12px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #45a049;
  }
  
  .image-preview {
    position: relative;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .preview-image {
    max-width: 100%;
    max-height: 200px;
    object-fit: contain;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .remove-image-btn {
    position: absolute;
    top: -10px;
    right: -10px;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
  }
  
  .remove-image-btn:hover {
    background: darkred;
  }
  